body {
	font-family: 'Helvetica';
}

.title {

}

.title h2 {
	cursor: pointer;
}

.title .clippings {

}

.title .clippings .clipping {
	border-top: 1px solid #ddd;
}

.title .clippings blockquote {
	font-family: 'Monaco';
}

.title .clippings.hidden {
	display: none;
}